.single-poll-container {
    margin: 2% auto;
}

.single-poll-title {
    font-size: 1.5rem;
    color: #04aa6d;
    font-weight: 700;
    padding-right: 1%;
    margin-left: 1%;
}

.single-poll-radio-container {
    margin-left: 1.5%;
}

.single-poll-one-radio-container {
    display: flex;

}

.single-poll-vote-count {
    margin-left: 1%;
}