    .modal-header-green {
      background-color: white;
      color: #8ab580;
    }

    .modal-header-delete {
      background-color: white;
      color: red;
    }

    .modal-title-green {
      color: #8ab580;
    }

    .modal-title-delete {
      color: red;
    }

    .modal-footer-green {
      background-color: white;
      color: #8ab580;
    }

    .modal-footer-delete {
      background-color: white;
      color: white;
    }

    .modal-footer-green .btn-secondary {
      color: #fff;
      background-color: #5f9565;
      border-color: none;
      cursor: pointer;
    }

    .modal-footer-delete .btn-secondary {
      color: white;
      background-color: red;
      border: none;
    }

    .modal-footer-green .btn-secondary:active {
      color: #fff;
      background-color: #4e7d4f;
      cursor: pointer;
    }

    .modal-footer-delete .btn-secondary:active {
      color: #fff;
      background-color: #660212;
    }