    .modal-header-green {
    background-color: #8ab580 !important;
    color: #fff !important;
    border-bottom: 1px solid #5f9565 !important;
  }
  
  .modal-title-green {
    color: #fff !important;
  }
  
  .modal-body-green {
    color: #1f3c0f !important;
  }
  
  .modal-footer-green {
    background-color: #8ab580 !important;
    border-top: 1px solid #5f9565 !important;
    color: #fff !important;
  }
  
  .modal-footer-green .btn-secondary {
    color: #fff !important;
    background-color: #5f9565 !important;
    border-color: #5f9565 !important;
  }
  
  .modal-footer-green .btn-secondary:hover {
    color: #fff !important;
    background-color: #4e7d4f !important;
    border-color: #4e7d4f !important;
  }
  
  .modal-footer-green .btn-primary {
    color: #fff !important;
    background-color: #5f9565 !important;
    border-color: #5f9565 !important;
  }
  
  .modal-footer-green .btn-primary:hover {
    color: #fff !important;
    background-color: #4e7d4f !important;
    border-color: #4e7d4f !important;
  }