.update-poll-title-container {
    margin: 5% auto;
    width: 40%;
    text-align: center;
}

.update-poll-title-button {
    width: 50%;
    background-color: #04aa6d;
    border: none;
    border-radius: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
}

.update-poll-title-button:active {
    background-color: #035638;

}